Abandonment Classification (Original)/data/clean/
Abandonment Classification (Original)/data/grades/
Abandonment Classification (Revisited)/Data/clean/
.ipynb_checkpoints
__pycache__
Land Conflicts in Brazil/Mapas/
Land Conflicts in Brazil/Dados/BR_Municipios_2021.zip